@model AdminPaneNew.Areas.OfficialAdmin.Models.StudentReg

@{
    ViewBag.Title = "updateExcel";
    Layout = "~/Areas/OfficialAdmin/Views/Shared/Layout.cshtml";
}
@section Pagename {

    Student Registration

}
@using (Html.BeginForm("updateExcel", "StudentRegs", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Update Excel</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <input id="fileUpload" type="file" class="btn btn-primary" name="FileUpload" />
                @*@Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-danger" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })

            </div>
        </div>
    </div>
}

@*@using (Html.BeginForm("UploadExcel", "ExcelDemo", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <input type="file" id="fileUpload" class="btn btn-primary" name="FileUpload" /><br />
            <input type="submit" class="btn btn-primary" name="UploadNewEmployee" id="fileUploadExcel" value="Upload New Employee Details" />
}*@  